/* body {
    font-family: 'Microsoft YaHei','Open Sans', 'trebuchet ms', arial, sans-serif;
    background-image: url('../imgs/tm_bg.png');
} */
ul {
    list-style: none;
    padding-left: 0;
}
#sidebar {
    padding-top: 200px;
    width: 35px;
    position: fixed;
    background-color: #e1e1e1;
    min-height: 100%;
    z-index: 100;
}

/* #content {
    width: 800px;
    margin: 0 auto;
    height: 400px;
} */
.item {
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.item div {
    font-size: 12px;
}
#closeBar {
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 35px;
    cursor: pointer;
}

 .nav-content {
    position: fixed;
    min-height: 100%;
    width: 200px;
    background-color: #e1e1e1;
    opacity: 0;
    z-index: 99;
    /*text-align: center; */
}

.nav-con-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
   /*  float: right;
   cursor: pointer;
   padding-top: 5px;
   padding-right: 5px; */
}

.sidebar-move-left {
    -webkit-animation-name: smf;
    -moz-animation-name: smf;
    -o-animation-name: smf;
    animation-name: smf;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes smf {
    from {

        }
        to {
            -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
        }
}

@keyframes smf {
    from {

        }
        to {
            -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
        }
}
.closebar-move-right {
    -webkit-animation-name: cmr;
    -moz-animation-name: cmr;
    -o-animation-name: cmr;
    animation-name: cmr;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes cmr {
    from{

        }
        to{
            -webkit-transform: translateX(160px) rotate(-405deg) scale(1.5);
            transform: translateX(160px) rotate(-405deg) scale(1.5);
        }
}

@keyframes cmr {
    from{

        }
        to{
            -webkit-transform: translateX(160px) rotate(-405deg) scale(1.5);
            transform: translateX(160px) rotate(-405deg) scale(1.5);
        }
}

.sidebar-move-right {
    -webkit-animation-name: smr;
    -moz-animation-name: smr;
    -o-animation-name: smr;
    animation-name: smr;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes smr {
    from {

        }
        to {
            -webkit-transform: translateX(120px);
            transform: translateX(120px);
        }
}

.closebar-move-left {
    -webkit-animation-name: cml;
    -moz-animation-name: cml;
    -o-animation-name: cml;
    animation-name: cml;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cml {
    from{
            transform: scale(1.5);
        }
        to{
            -webkit-transform: translateX(-160px) rotate(-405deg) scale(1);
            transform: translateX(-160px) rotate(-405deg) scale(1);
        }
}

.menuContent-move-right {
    -webkit-animation-name: mmr;
    -moz-animation-name: mmr;
    -o-animation-name: mmr;
    animation-name: mmr;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes mmr {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
}


.menuContent-move-left {
    -webkit-animation-name: mml;
    -moz-animation-name: mml;
    -o-animation-name: mml;
    animation-name: mml;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes mml {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }
}

.menuContent-move-up {
    -webkit-animation-name: mmu;
    -moz-animation-name: mmu;
    -o-animation-name: mmu;
    animation-name: mmu;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes mmu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
    }
}