#btn {
    width:40px;
    height:40px;
  /*  //固定定位设置 */
    position: fixed;
    left:50%;
    margin-left:610px;
    bottom:30px;
    display: none;
    background:url(../imgs/back.png) no-repeat left 0 top 0;
    }
#btn:hover {
    background:url(../imgs/back.png) no-repeat 0 -39px;
    }
.box {
    width:1190px;
     /* //实现大图居中 */
     margin: 0 auto;
    }